@font-face {
    font-family:'UniversBoldCn';
    src: url('fonts/UniversBoldCn.woff2');
    font-weight: 600;
}

@font-face {
    font-family:'UniversCn';
    src: url('fonts/UniversCn.woff2');
    font-weight: 600;
}

html{
	font-family: 'UniversBoldCn';
	background-color: #dcdcdc;
}

body{
	margin:10px;
}


header{
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
}
header img{ 
	width: 100%;
}

a{
	text-decoration: none;
	color: #bd28eb;
}
a:hover, a:focus, a:active{
	color: #bd28eb;
}

a.blob-link{
}

a.small{
	word-break: break-all;
	font-size: 0.8em;
	font-family:'UniversCn';
}

.table-body{
	display: table;
	border-bottom: 1px solid #bd28eb;
	border-right: 1px solid #bd28eb;
	color: #bd28eb;
}
.table-row{
	display: table-row;
}
.table-cell{
	display: table-cell;
	width: 6.25vw;
	height: 6.25vw;
	border-top: 1px solid #bd28eb;
	border-left: 1px solid #bd28eb;
	transition: width 0.25s, height 0.25s, font-size 0.25s;
	font-size: 14px;
	vertical-align: middle;
	text-align: center;
}

.table-cell:hover{
	width: 15vw;
	height: 15vw;
	font-size: 220%;
}

.td-img{ 
	max-height: 100%;
	max-width: 100%;
	padding: 0;
	margin: 0;
	vertical-align: middle;
}



.blob-wrapper{
	display: none;
	position: absolute;
}

.blob{
	display: table-cell;
	vertical-align: middle;
	background-color: #c0ff00;
	color: #c0ff00;
	text-shadow: -1px 1px 0 #bd28eb, 1px 1px 0 #bd28eb, 1px -1px 0 #bd28eb, -1px -1px 0 #bd28eb;
	border-radius: 50%;
	text-align: center;
	font-size: 42px;
	box-shadow: 0px 0px 15px 10px #c0ff00;
	text-transform: uppercase;
}
.blob img{ width: 100%; }

#logo{
	width: 100%;
}


#jerusalem-date-blob{ top: 20%; left: 35%; }
#kiel-date-blob{ top: 55%; left: 15%; }
#istanbul-date-blob{ top: 60%; left: 57%; }
#berlin-date-blob{ top: 35%; left: 20%; }


#img-fig-blob{ top: 5%; left: 5%; width: 70%;} 
#img-see-blob{ bottom: 5%; right: 5%; width: 70%;} 
#img-eris-blob{ bottom: 2%; right: 40%; width: 40%;} 
#img-uniform-blob{ top: 10%; left: 2%; width: 70%;} 
#img-desktop-blob{ bottom: 10%; right: 10%; width: 70%;} 
#img-pattern-blob{ top: 2%; right: 4%; width: 40%;} 
#img-uni-blob{ bottom: 2%; right: 14%; width: 38%;} 
#img-foyer-blob{ top: 10%; left: 2%; width: 70%;} 
#img-jerusalem-blob{ top: 1%; left: 20%; width: 70%;} 
#img-werkbund-blob{ top: 1%; right: 5%; width: 40%;} 


#img-desktop2-blob{ top: 10%; left: 33%; width: 70%;} 
#img-uni2-blob{ top: 19%; left: 28%; width: 70%;} 
#img-fig2-blob{ top: 6%; left: 15%; width: 40%;} 
#img-fig3-blob{ top: 3%; left: 22%; width: 50%;} 
#img-uniform2-blob{ top: 5%; left: 12%; width: 40%;} 
#img-see2-blob{ top: 8%; left: 15%; width: 40%;} 
#img-pattern4-blob{ top: 13%; left: 7%; width: 70%;} 
#img-pattern3-blob{ top: 1%; left: 29%; width: 40%;} 
#img-foyer2-blob{ top: 10%; left: 20%; width: 40%;} 
#img-desktop4-blob{ top: 12%; left: 35%; width: 70%;} 
#img-foyer3-blob{ top: 17%; left: 39%; width: 40%;} 
#img-foyer4-blob{ top: 4%; left: 5%; width: 40%;} 
#img-eris2-blob{ top: 3%; left: 10%; width: 70%;} 
#img-eris3-blob{ top: 2%; left: 1%; width: 40%;} 
#img-foyer5-blob{ top: 16%; left: 21%; width: 70%;} 
#img-wiki-blob{ top: 10%; left: 24%; width: 40%;} 




@media (max-width: 640px) { 
	
	.trimmed{
		display: none;
	}
	
	a.small{
		font-size: 0.5em;
	}
	
	.table-cell{
		width: 10vw;
		height: 10vw;
	}
	
	.table-cell:hover{
		width: 30vw;
		height: 30vw;
	}
	
	#jerusalem-date-blob{ top: 20%; left: auto; width: 100%; }
	#kiel-date-blob{ top: 20%; left: auto; width: 100%; }
	#istanbul-date-blob{ top: 20%; left: auto; width: 100%; }

}
